/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(130, 106, 251);
}
button {
  height: 55px;
  width: 100%;
  color: #1c1b1b;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 30px;
  border: whitesmoke;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #7451e5;
}
button:hover {
  background: rgb(110, 48, 210);
}

.form,select,.form-control{
  accent-color: rgb(130, 106, 251);
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #323232;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}


.btn-primary { 
  accent-color: rgb(130, 106, 251);
  cursor: pointer;
  position: relative;
  height: 35px;
  width: 100%;
  outline: none;
  font-size: 1.5rem;
  color:#0e0d0d;
  margin-top: 8px;
  border: 1px solid #0a0a0a;
  border-radius: 6px;
  padding: 0 15px;
  background-color: #7451e5;
}
.btn-primary:hover {
  background: rgb(110, 48, 210);
}
.btn-block { width: 100%; }


/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

