<!DOCTYPE html>
    <html lang="en">
        <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css') }}" >
        </head>
        <body>
            <section class="container">
                <header>Student Exam Performance Prediction</header>
                <form action="#" class="form">
                    <div class="select-box">
                        <select name="gender">
                            <option hidden>Gender</option>
                            <option value="male">
                                Male
                            </option>
                            <option value="female">
                                Female
                            </option>
                        </select>
                      </div>

                      <div class="select-box">
                        <select name="ethnicity">
                            <option hidden>Race/Ethnicity</option>
                            <option value="group A">
                                Group A
                            </option>
                            <option value="group B">
                                Group B
                            </option>
                            <option value="group C">
                                Group C
                            </option>
                            <option value="group D">
                                Group D
                            </option>
                            <option value="group E">
                                Group E
                            </option>
                        </select>
                      </div>

                      <div class="select-box">
                        <select name="parental_level_of_education">
                            <option hidden>Your Parents education</option>
                            <option value="associate's degree">
                                associate's degree
                            </option>
                            <option value="bachelor's degree">
                                bachelor's degree
                            </option>
                            <option value="high school">
                                high school
                            </option>
                            <option value="master's degree">
                                master's degree
                            </option>
                            <option value="some college">
                                some college
                            </option>
                            <option value="some high school">
                                some high school
                            </option>
                        </select>
                      </div>

                      <div class="select-box">
                        <select name="lunch" >
                            <option hidden>Lunch Type</option>
                            <option value="free/reduced">
                            free/reduced
                            </option>
                            <option value="standard">
                            standard
                            </option>
                        </select>
                      </div>

                    <div class="input-box">
                        <label>Writing Score</label>
                        <input type="number" placeholder="Writing Score out of 100" required />
                    </div>

                    <div class="input-box">
                        <label>Reading Score</label>
                        <input type="number" placeholder="Reading Score out of 100" required />
                    </div>

                    <button>Submit</button>
                </form>
                <h3>
                THE  prediction is {{results}}
                </h3>
            </section>
        </body>
    </html>